<div class="container" ng-controller="ImageCtrl">
    <div class="row">
        <div class="col-md-5">
            <img id="image" src="{{image.url}}"/>
            <div class="input-group" id="add-number">
                <span class="input-group-btn">
                    <button ng-click="go()" id="go" class="btn btn-default">Go</button>
                </span>

                <input ng-model="number"id="number" class="form-control" type="text" placeholder="enter a number that describes this image" name="number">
            </div>
        </div>
        <div class="col-md-7" ng-controller="StatisticsCtrl">
            <div class="well">
                <p><strong>Lowest number:</strong> {{lowestNumber}}</p>
                <p><strong>Highest number:</strong> {{highestNumber}}</p>
                <p><strong>Number list</strong></p>
                <p><span ng-repeat="n in numbers">{{n.number}} </span></p>
            </div>
        </div>
    </div>
</div>
